# 01 Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
path = r'C:\Users\Arjun\Desktop\Career Foundry\Airbnb'

In [6]:
path

'C:\\Users\\Arjun\\Desktop\\Career Foundry\\Airbnb'

In [7]:
#Importing the listings dataset
df_listings = pd.read_csv(os.path.join(path,'Data','Original Data','listings.csv'), index_col = False)

In [8]:
#Viewing the dataset
df_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [9]:
# Checking the dimension of the dataset
df_listings.shape

(20030, 16)

As we can see the Neighboorhood_group column does not have any data, so this will be removed

# Dropping the columns

In [12]:
df_listings.drop(columns = ['neighbourhood_group'], inplace = True)

In [13]:
df_listings.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [14]:
# Checking the null values in the columns
df_listings[df_listings[['reviews_per_month','last_review']].isna().all(1)]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
37,62801,Very nice appartment ALL of januari,306117,Jan,Bos en Lommer,52.384587,4.854627,Entire home/apt,750,30,0,NaN,NaN,1,364
229,432610,Big apartment with great sunshine!,1725242,Tolga,De Pijp - Rivierenbuurt,52.347757,4.906169,Entire home/apt,99,1,0,NaN,NaN,3,98
279,517092,4 bedroom apartment near the park,2041793,Bas,De Baarsjes - Oud-West,52.361380,4.855451,Entire home/apt,135,6,0,NaN,NaN,1,0
368,626872,Beautiful Apartment Amsterdam,3111814,Daniel,Westerpark,52.376252,4.875192,Entire home/apt,150,6,0,NaN,NaN,1,0
415,665250,Artists house with two gardens.,3361425,Marcus,De Pijp - Rivierenbuurt,52.351075,4.898818,Entire home/apt,139,14,0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20025,30576148,Family House City + free Parking+garden (160 m2),13399651,Marieke,Watergraafsmeer,52.345999,4.952145,Entire home/apt,340,7,0,NaN,NaN,1,11
20026,30577727,Home Sweet Home in Indische Buurt,1595885,Evita,Oostelijk Havengebied - Indische Buurt,52.362412,4.932467,Entire home/apt,150,3,0,NaN,NaN,2,16
20027,30578037,Amsterdam Cozy apartment nearby center,87866499,Tommaso,Oud-Oost,52.362431,4.926912,Entire home/apt,80,10,0,NaN,NaN,2,210
20028,30579673,Home Sweet Home for a Guest or a Couple,1595885,Evita,Oostelijk Havengebied - Indische Buurt,52.363780,4.932493,Private room,55,2,0,NaN,NaN,2,31
20029,30580413,Cosy two bedroom appartment near 'de Pijp'!,27212057,Lisa,De Pijp - Rivierenbuurt,52.346911,4.901932,Entire home/apt,220,5,0,NaN,NaN,1,14

These columns have the Null values because the last_review and the reviews_per_month are either not provided or not collected at the source. But the rows are important to the dataset, hence these records are being left as is.

# Renaming the columns

In [16]:
#Renaming the id,name column
df_listings.rename(columns = {'id':'airbnb_listing_id','name':'airbnb_listing_name'}, inplace = True)

In [17]:
df_listings.head()

,airbnb_listing_id,airbnb_listing_name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

# Changing the datatype and checking for mixed data types

In [18]:
df_listings['airbnb_listing_id'].dtype

dtype('int64')

The listing_id is supposed to be integer, so I will not be changing the datatype.

In [19]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   airbnb_listing_id               20030 non-null  int64
 1   airbnb_listing_name             19992 non-null  object
 2   host_id                         20030 non-null  int64
 3   host_name                       20026 non-null  object
 4   neighbourhood                   20030 non-null  object
 5   latitude                        20030 non-null  float64
 6   longitude                       20030 non-null  float64
 7   room_type                       20030 non-null  object
 8   price                           20030 non-null  int64
 9   minimum_nights                  20030 non-null  int64
 10  number_of_reviews               20030 non-null  int64
 11  last_review                     17624 non-null  object
 12  reviews_per_month               17624 non-null  float64
 13  calculated_host_listings_count  20030 non-null  int64
 14  availability_365                20030 non-null  int64
dtypes: float64(3), int64(7), object(5)
memory usage: 2.3+ MB

# Mixed data type

In [20]:
#Logic for checking mixed types in data frames
for col in df_listings.columns.tolist():
    weird = (df_listings[[col]].applymap(type) != df_listings[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_listings[weird]) > 0:
        print (col)

airbnb_listing_name
host_name
last_review

In [ ]:
# Changing the listing name, last_review and the host name to String data type

In [21]:
df_listings['airbnb_listing_name'] = df_listings['airbnb_listing_name'].astype('str')

In [22]:
df_listings['host_name'] = df_listings['host_name'].astype('str')

In [24]:
df_listings['last_review'] = df_listings['last_review'].astype('str')

In [25]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   airbnb_listing_id               20030 non-null  int64
 1   airbnb_listing_name             20030 non-null  object
 2   host_id                         20030 non-null  int64
 3   host_name                       20030 non-null  object
 4   neighbourhood                   20030 non-null  object
 5   latitude                        20030 non-null  float64
 6   longitude                       20030 non-null  float64
 7   room_type                       20030 non-null  object
 8   price                           20030 non-null  int64
 9   minimum_nights                  20030 non-null  int64
 10  number_of_reviews               20030 non-null  int64
 11  last_review                     20030 non-null  object
 12  reviews_per_month               17624 non-null  float64
 13  calculated_host_listings_count  20030 non-null  int64
 14  availability_365                20030 non-null  int64
dtypes: float64(3), int64(7), object(5)
memory usage: 2.3+ MB

In [26]:
#Logic for checking mixed types in data frames
for col in df_listings.columns.tolist():
    weird = (df_listings[[col]].applymap(type) != df_listings[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_listings[weird]) > 0:
        print (col)

# Duplicate rows

In [27]:
dups = df_listings[df_listings.duplicated()]

In [28]:
dups

Empty DataFrame
Columns: [airbnb_listing_id, airbnb_listing_name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

There are no duplicates in the dataset

# Missing Values

In [30]:
#Checking the missing values in the dataset
df_listings.isnull().sum()

airbnb_listing_id                    0
airbnb_listing_name                  0
host_id                              0
host_name                            0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                          0
reviews_per_month                 2406
calculated_host_listings_count       0
availability_365                     0
dtype: int64

# Exporting the data frame

In [32]:
# Listings Export
df_listings.to_csv(os.path.join(path, 'Data','Prepared Data','listings_wrangled.csv'))